<% if (opt.title) { %>
    <style>
        .elementor-239 .elementor-element.elementor-element-f798dde:not(.elementor-motion-effects-element-type-background),
        .elementor-239 .elementor-element.elementor-element-f798dde > .elementor-motion-effects-container > .elementor-motion-effects-layer {
            background-image: url(<%= opt.cta_background || '/img/uploads/background-block-image.webp' %>);
        }
    </style>
    <div class="elementor-element elementor-element-f798dde elementor-hidden-mobile e-flex e-con-boxed wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-parent e-lazyloaded"
   data-id="f798dde" data-element_type="container"
   data-settings="{&quot;background_background&quot;:&quot;classic&quot;}"
   data-rocket-lazy-bg-f437e649-efd3-419a-84e8-b4ad9db7c2fd="loaded"
   data-rocket-lazy-bg-6ed3ad38-eb16-4989-9e9c-de4250998497="loaded">
   <div class="e-con-inner">
      <div
         class="elementor-element elementor-element-72a06b6 elementor-widget elementor-widget-heading"
         data-id="72a06b6" data-element_type="widget" data-widget_type="heading.default">
         <div
            class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default"><a
               href="#oferta"> <%= opt.title || 'ADEUS QUEDA CAPILAR!' %> </a> </h2>
         </div>
      </div>
      <div
         class="elementor-element elementor-element-9c2de3b elementor-widget elementor-widget-heading"
         data-id="9c2de3b" data-element_type="widget" data-widget_type="heading.default">
         <div
            class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
                <%= opt.subtitle || 'O cabelo dos SONHOS agora está ao seu ALCANCE!' %>
                
            </h2>
         </div>
      </div>
      <div
         class="elementor-element elementor-element-3790320 e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
         data-id="3790320" data-element_type="container">
         <div
            class="elementor-element elementor-element-d4f8da0 e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
            data-id="d4f8da0" data-element_type="container">
            <div
               class="elementor-element elementor-element-af7ee82 elementor-widget elementor-widget-icon-box"
               data-id="af7ee82" data-element_type="widget" data-widget_type="icon-box.default">
               <div
                  class="elementor-widget-container">
                  <div class="elementor-icon-box-wrapper">
                     <div
                        class="elementor-icon-box-content">
                        <h3 class="elementor-icon-box-title"> <span>
                            <%= opt.title_block_1 || 'COM' %></span> 
                        </h3>
                        <p class="elementor-icon-box-description">
                            <%= opt.subtitle_block_1 || 'Biotina, Zinco e Selênio' %></span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div
            class="elementor-element elementor-element-3bff544 e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
            data-id="3bff544" data-element_type="container">
            <div
               class="elementor-element elementor-element-2c74d08 elementor-widget elementor-widget-icon-box"
               data-id="2c74d08" data-element_type="widget" data-widget_type="icon-box.default">
               <div
                  class="elementor-widget-container">
                  <div class="elementor-icon-box-wrapper">
                     <div
                        class="elementor-icon-box-content">
                        <h3 class="elementor-icon-box-title"> <span>
                            <%= opt.title_block_2 || 'PARA' %></span> 
                        </h3>
                        <p class="elementor-icon-box-description">
                            <%= opt.subtitle_block_2 || 'Crescimento acelerado dos fios' %></span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div
            class="elementor-element elementor-element-8cd8078 e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
            data-id="8cd8078" data-element_type="container">
            <div
               class="elementor-element elementor-element-dbb4b56 elementor-widget elementor-widget-icon-box"
               data-id="dbb4b56" data-element_type="widget" data-widget_type="icon-box.default">
               <div
                  class="elementor-widget-container">
                  <div class="elementor-icon-box-wrapper">
                     <div
                        class="elementor-icon-box-content">
                        <h3 class="elementor-icon-box-title"> <span>
                            <%= opt.title_block_3 || 'MAIS' %></span> 
                        </h3>
                        <p class="elementor-icon-box-description">
                            <%= opt.subtitle_block_3 || 'Força para os cabelos' %></span>
                        </p>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div
         class="elementor-element elementor-element-1cf3a7f elementor-hidden-mobile elementor-widget elementor-widget-image"
         data-id="1cf3a7f" data-element_type="widget" data-widget_type="image.default">
         <div
            class="elementor-widget-container"> <img fetchpriority="high" decoding="async" width="700"
            height="500" src="<%= opt.cta_image_show || '/img/uploads/tss.webp' %>" class="attachment-full size-full wp-image-691" alt=""
            srcset="<%= opt.cta_image_show || '/img/uploads/tss.webp' %> 700w, <%= opt.cta_image_show || '/img/uploads/tss.webp' %> 300w, <%= opt.cta_image_show || '/img/uploads/tss.webp' %> 600w"
            sizes="(max-width: 700px) 100vw, 700px"> </div>
      </div>
      <div
         class="elementor-element elementor-element-91aace2 elementor-widget elementor-widget-spacer"
         data-id="91aace2" data-element_type="widget" data-widget_type="spacer.default">
         <div
            class="elementor-widget-container">
            <div class="elementor-spacer">
               <div
                  class="elementor-spacer-inner"></div>
            </div>
         </div>
      </div>
      <% if (opt.cta_buy) { %>

        <div
            class="elementor-element elementor-element-85c7c37 elementor-align-center elementor-widget elementor-widget-button"
            data-id="85c7c37" data-element_type="widget" data-widget_type="button.default">
            <div
            class="elementor-widget-container">
            <div class="elementor-button-wrapper"> <a
                class="elementor-button elementor-button-link elementor-size-sm" href="#oferta"> <span
                class="elementor-button-content-wrapper"> <span class="elementor-button-text"></span> <%= opt.cta_buy %> </span> </a> 
            </div>
            </div>
        </div>

      <% } %>

   </div>
</div>
<div
   class="elementor-element elementor-element-cdfd6da elementor-hidden-desktop elementor-hidden-tablet e-flex e-con-boxed wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-parent"
   data-id="cdfd6da" data-element_type="container"
   data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
   <div class="e-con-inner">
      <div
         class="elementor-element elementor-element-566755c elementor-widget elementor-widget-heading"
         data-id="566755c" data-element_type="widget" data-widget_type="heading.default">
         <div
            class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default"><a
               href="#oferta"><%= opt.title || 'ADEUS QUEDA CAPILAR!' %> </a> </h2>
         </div>
      </div>
      <div
         class="elementor-element elementor-element-9b87900 elementor-widget elementor-widget-heading"
         data-id="9b87900" data-element_type="widget" data-widget_type="heading.default">
         <div
            class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
                <%= opt.subtitle || 'O cabelo dos SONHOS agora está ao seu ALCANCE!' %>
            </h2>
         </div>
      </div>
      <div
         class="elementor-element elementor-element-fefcf06 e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
         data-id="fefcf06" data-element_type="container">
         <div
            class="elementor-element elementor-element-f503432 e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
            data-id="f503432" data-element_type="container">
            <div
               class="elementor-element elementor-element-ab70bd4 elementor-widget elementor-widget-icon-box"
               data-id="ab70bd4" data-element_type="widget" data-widget_type="icon-box.default">
               <div
                  class="elementor-widget-container">
                  <div class="elementor-icon-box-wrapper">
                     <div
                        class="elementor-icon-box-content">
                        <h3 class="elementor-icon-box-title"> <span>
                           <%= opt.title_block_1 || 'COM' %></span> 
                       </h3>
                       <p class="elementor-icon-box-description">
                           <%= opt.subtitle_block_1 || 'Biotina, Zinco e Selênio' %></span>
                       </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div
            class="elementor-element elementor-element-688f006 e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
            data-id="688f006" data-element_type="container">
            <div
               class="elementor-element elementor-element-e9c0545 elementor-widget elementor-widget-icon-box"
               data-id="e9c0545" data-element_type="widget" data-widget_type="icon-box.default">
               <div
                  class="elementor-widget-container">
                  <div class="elementor-icon-box-wrapper">
                     <div
                        class="elementor-icon-box-content">
                        <h3 class="elementor-icon-box-title"> <span>
                           <%= opt.title_block_2 || 'PARA' %></span> 
                       </h3>
                       <p class="elementor-icon-box-description">
                           <%= opt.subtitle_block_2 || 'Crescimento acelerado dos fios' %></span>
                       </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div
            class="elementor-element elementor-element-d8932eb e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
            data-id="d8932eb" data-element_type="container">
            <div
               class="elementor-element elementor-element-a95b2b3 elementor-widget elementor-widget-icon-box"
               data-id="a95b2b3" data-element_type="widget" data-widget_type="icon-box.default">
               <div
                  class="elementor-widget-container">
                  <div class="elementor-icon-box-wrapper">
                     <div
                        class="elementor-icon-box-content">
                        <h3 class="elementor-icon-box-title"> <span>
                           <%= opt.title_block_3 || 'MAIS' %></span> 
                       </h3>
                       <p class="elementor-icon-box-description">
                           <%= opt.subtitle_block_3 || 'Força para os cabelos' %></span>
                       </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div
         class="elementor-element elementor-element-5000411 elementor-widget elementor-widget-spacer"
         data-id="5000411" data-element_type="widget" data-widget_type="spacer.default">
         <div
            class="elementor-widget-container">
            <div class="elementor-spacer">
               <div
                  class="elementor-spacer-inner"></div>
            </div>
         </div>
      </div>
      <div
         class="elementor-element elementor-element-4abda6d elementor-align-center elementor-widget elementor-widget-button"
         data-id="4abda6d" data-element_type="widget" data-widget_type="button.default">
         <div
            class="elementor-widget-container">
            <div class="elementor-button-wrapper"> <a
               class="elementor-button elementor-button-link elementor-size-sm" href="#oferta"> <span
               class="elementor-button-content-wrapper"> <span class="elementor-button-text">COMPRAR
               AGORA</span> </span> </a> 
            </div>
         </div>
      </div>
   </div>
</div>

<% } %>
