<%
// load footer options and contacts from content
const footer = _.cms('footer') || {}
const contacts = _.cms('contacts') || {}

// social networks handled by contacts
const networksWithColors = [
  ['facebook', '#3b5998'],
  ['youtube', '#ff0000'],
  ['instagram', '#e1306c'],
  ['twitter', '#1da1f2'],
  ['tiktok', '#000000'],
  ['pinterest', '#bd081c'],
  ['linkedin', '#0073b1']
]
const { path } = _.route
%>

<footer class="footer py-3 py-lg-4 py-xl-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-auto order-lg-last pl-xl-4">
        <div class="footer__contacts">
          <% if (footer.contacts.title) { %>
            <div class="footer__title">
              <%= footer.contacts.title %>
            </div>
          <% } %>

          <ul class="list-unstyled">
            <% if (footer.contacts.phone_wpp) { %>
              <% if (contacts.whatsapp) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="fab fa-whatsapp"></i>
                  </span>
                  <a
                    href="javascript:;"
                    target="_blank"
                    rel="noopener"
                    class="whatsapp-link"
                    data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
                  >
                    <%= contacts.whatsapp %>
                  </a>
                </li>
              <% } %>
              <% if (contacts.phone) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="fas fa-phone"></i>
                  </span>
                  <a
                    href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
                    target="_blank"
                    rel="noopener"
                  >
                    <%= contacts.phone %>
                  </a>
                </li>
              <% } %>
            <% } %>
            <% if (footer.contacts.email) { %>
              <li>
                <a href="mailto:<%= contacts.email %>" target="_blank" rel="noopener">
                  <%= contacts.email %>
                </a>
              </li>
            <% } %>
            <% if (footer.contacts.address) { %>
              <li>
                <address>
                  <%= contacts.address %>
                </address>
              </li>
            <% } %>
          </ul>

          <% if (footer.contacts.socials) { %>
            <p class="footer__social">
              <% networksWithColors.forEach(([network, color]) => { %>
                <% if (contacts[network]) { %>
                  <a
                    href="<%= contacts[network] %>"
                    target="_blank"
                    rel="noopener"
                    aria-label="<%= network %>"
                    style="color: <%= color %>"
                  >
                    <i class="fab fa-<%= network %>"></i>
                  </a>
                <% } %>
              <% }) %>
            </p>
          <% } %>
        </div>
      </div>

      <% if (footer.links_1.list_pages || footer.links_1.list.find(({ url }) => url)) { %>
        <div class="col-12 col-sm-6 col-lg col-xl-auto px-xl-4">
          <a
            class="footer__title"
            data-toggle="collapse"
            href="#footer-pages"
            role="button"
            aria-expanded="false"
            aria-controls="footer-pages"
          >
            <%= footer.links_1.title || _.dictionary('pages') %>
          </a>
          <div class="collapse" id="footer-institucional">
            <% if (footer.links_1.list_pages) { %>
              <ul class="footer__links">
                <% (_.cms('pages') || []).forEach(slug => { %>
                  <% const { title } = _.cms(`pages/${slug}`) %>
                  <li>
                    <i class="fas fa-angle-right"></i>
                    <a href="/pages/<%= slug %>">
                      <%= title %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } else { %>
              <ul class="footer__links">
                <% footer.links_1.list.forEach(({ url, text }) => { %>
                  <li>
                    <i class="fas fa-angle-right"></i>
                    <a href="<%= url %>">
                      <%= text %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </div>
        </div>
      <% } %>

      <% if (footer.links_2.list_categories || footer.links_2.list.find(({ url }) => url)) { %>
        <div class="col-12 col-sm-6 col-lg col-xl-auto px-xl-4">
          <a
            class="footer__title"
            data-toggle="collapse"
            href="#footer-categories"
            role="button"
            aria-expanded="false"
            aria-controls="footer-categories"
          >
            <%= footer.links_2.title || _.dictionary('categories') %>
          </a>
          <div class="collapse" id="footer-categories">
            <% if (footer.links_2.list_categories) { %>
              <ul class="footer__links">
                <% _.categories.forEach(({ name, slug, parent }) => { %>
                  <% if (!parent) { %>
                    <li>
                      <i class="fas fa-angle-right"></i>
                      <a href="/<%= slug %>">
                        <%= name %>
                      </a>
                    </li>
                  <% } %>
                <% }) %>
              </ul>
            <% } else { %>
              <ul class="footer__links">
                <% footer.links_2.list.forEach(({ url, text }) => { %>
                  <li>
                    <i class="fas fa-angle-right"></i>
                    <a href="<%= url %>">
                      <%= text %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </div>
          <% if (footer.links_3.list.find(({ url }) => url)) { %>
            <a
              class="footer__title"
              data-toggle="collapse"
              href="#footer-pages"
              role="button"
              aria-expanded="false"
              aria-controls="footer-pages"
            >
              <%= footer.links_3.title || _.dictionary('pages') %>
            </a>
            <div class="collapse" id="footer-pages">
                <ul class="footer__links">
                  <% footer.links_3.list.forEach(({ url, text }) => { %>
                    <li>
                      <i class="fas fa-angle-right"></i>
                      <a href="<%= url %>">
                        <%= text %>
                      </a>
                    </li>
                  <% }) %>
                </ul>
            </div>
        <% } %>
        </div>
      <% } %>


      <div class="col-12 col-xl order-lg-first">
        <% if (path === '/' || path === '/index') { %> 
          <h1  class="footer__title footer__store" itemprop="name"><%= footer.description.title || _.settings.name %></h1>
        <% } else { %>
          <h2  class="footer__title footer__store"><%= footer.description.title || _.settings.name %></h2>
        <% } %>
        <p class="lead mb-1">
          Junte-se a mais de 800 mil Manas que já adoçaram suas vidas com a Blow Gummies
        </p>
        <p>
          Garanta seu lugar na lista VIP e receba em primeira mão dicas incríveis,
          ofertas exclusivas e informações sobre BRINDES, DESCONTOS e CONTEÚDO
        </p>
        <div id="mc_embed_signup" style="display: none">
          <form action="https://blowgummies.us7.list-manage.com/subscribe/post?u=968db0f265c7f5d743fc60a6a&amp;id=4137a184ff&amp;f_id=0081fbe0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div id="mc_embed_signup_scroll">
              <div class="indicates-required"><span class="asterisk">*</span> indica obrigatório</div>
              <div class="mc-field-group"><label for="mce-EMAIL">Endereço de e-mail <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
              </div>
              <div aria-hidden="true" style="position: absolute; left: -5000px;"><input type="text" name="b_968db0f265c7f5d743fc60a6a_4137a184ff" tabindex="-1" value=""></div><div class="clear"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe"></div>
            </div>
          </form>
        </div>
        <div class="apx_form">
          <form>
            <input type="email" required name="mail" placeholder="Seu e-mail">
            <button type="submit" class="btn">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
    

    <div class="footer__credits">
      <div class="row">
        <div id="pagamentos" class="col-12 col-sm-8">
          <p class="footer__payment-methods">
            <% Object.keys(footer.payment_methods).forEach(method => { %>
              <% if (footer.payment_methods[method]) { %>
                <i class="pay-icon pay-icon--<%= method %>"></i>
              <% } %>
            <% }) %>
          </p>
          <span>
            <%= footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
          </span>
        </div>
        <div id="selos" class="col-12 col-sm-4">
          <div class="footer__stamps">
            <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
          </div>
          <button
            id="go-to-top"
            class="btn btn-primary ml-3"
            type="button"
            aria-label="<%= _.dictionary('goToTop') %>"
          >
            <i class="fas fa-chevron-up"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="ecom-credits">
  <a href="https://e-com.plus" target="_blank" rel="noopener">
    Powered by
    <img
      data-src="https://ecom.nyc3.digitaloceanspaces.com/brand/plus/198x43.png"
      alt="E-Com Plus"
      width="92"
      height="19.98"
      class="lozad"
    >
  </a>
  <a href="https://fwragenciadigital.com.br/" target="_blank" rel="noopener">
    Desenvolvido por
    <img
      data-src="/img/uploads/fwr.png"
      alt="FWR Agência Digital"
      class="lozad"
      width="84"
      height="31"
    >
  </a>
</div>
